* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 1rem;
}

body {
    height:100vh;
}

img {
    border-radius: 50%;
    color: white;
}

.titles {
    font-size: 1.5rem;
    font-weight: 700;
}

.pagelayout {
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 1fr 5fr;
}

.header {
    grid-area: 1 / 2 / 2 / 3;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2, 1fr);
    padding: 20px;
    gap: 20px;
    font-weight: 700;
}

.user {
    font-size: 1.5rem;
}

.sidebar {
    grid-area: 1 / 1 / 3 / 2;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 50px;
    padding: 20px;
    background-color: #7dd3fc;
    color: white;
}

.sidebaritems {
    font-size: 1.5rem;
}

.sidebarfirstsection {
    font-size: 2rem;
    font-weight: 700;
}

.firstrowheader {
    grid-area: 1 / 1 / 2 / 2;
    display: flex;
    gap:20px;
    flex-wrap: nowrap;
    align-items: center;
}

.searchbox {
    border-radius: 10px;
    min-height: 25px;
    border: 1px solid black;
    outline: none;
    padding:5px;

}

.userintro {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
}

.secondrowheader {
    grid-area: 2 / 1 / 3 / 2;
    display: flex;
    flex-wrap: nowrap;
    gap:20px;
    align-items: center;
}

.headerbutton {
    padding: 10px;
    border-radius: 10px;
    outline: none;
    color: white;
    background-color: #7dd3fc;
    border-color: transparent;
}

.emptycontainer, .searchbox, .sidebarfourthsection {
    flex: 1;
}

.sidebarsecondsection, .sidebarthirdsection, .sidebarfourthsection {
    display: flex;
    flex-direction: column;
    gap:10px;
}

.sidebarfirstsection, .sidebaritems {
    flex-direction: row;
    gap: 10px;
    justify-content: flex-start;
    align-items: center;
    display: flex;
}

.maincontent {
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: 1fr 1fr;
    background-color: #e4e4e7;
    grid-area: 2 / 2 / 3 / 3;
    gap: 20px;
    padding: 20px;
    box-shadow: 2px black;
    overflow: auto;
}

.leftcontent {
    grid-area: 1 / 1 / 3 / 2;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 19fr;
    padding: 10px;
}

.toprightcontent {
    grid-area: 1 / 2 / 2 / 3;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 9fr;
    padding: 10px;
}

.bottomrightcontent {
    grid-area: 2 / 2 / 3 / 3;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 9fr;
    padding: 10px;
}

.cards {
    display: grid;
    grid-template-rows: repeat(auto-fit, minmax(200px, 1fr));
    grid-template-columns: repeat(2, 1fr);
    padding:5px;
    gap: 20px;
}

.announcements, .trenders {
    display: grid;
    grid-template-rows: repeat(auto-fit, minmax(75px, 1fr));
    grid-template-columns: 1fr;
}

.trender {
    display: flex;
    justify-content: flex-start;
    gap: 10px;
}

.card {
    border-left: 10px solid #7dd3fc;
    display: flex;
    flex-direction: column;
}

.card, .trenders, .announcements {
    border-radius: 5%;
    background-color: white;
    padding: 15px;
    gap: 10px;
}
